<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorCore
            class="com.inflectra.spirateam.mylyn.core.internal.SpiraTeamRepositoryConnector"
            id="com.inflectra.spirateam.mylyn.repository"
            name="Spira Repository">
      </connectorCore>
   </extension>

</plugin>
